@{
    ViewBag.Title = "Dream";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="slider1_container" style="position: relative; width: 960px; height: 380px; overflow: hidden;">
    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; width: 960px; height: 380px; top: 0px; left: 0px; overflow: hidden;">
        <div><img u="image" src="~/img/dream_001.jpg" /></div>
        <div><img u="image" src="~/img/dream_002.jpg" /></div>
        <div><img u="image" src="~/img/dream_003.jpg" /></div>
        <div><img u="image" src="~/img/dream_004.jpg" /></div>
        <div><img u="image" src="~/img/dream_005.jpg" /></div>
        <div><img u="image" src="~/img/dream_006.jpg" /></div>   
        <div><img u="image" src="~/img/dream_007.jpg" /></div> 
    </div>
    <!-- Direction Navigator Skin Begin -->
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssord20l" style="width: 55px; height: 55px; top: 123px; left: 8px;"></span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssord20r" style="width: 55px; height: 55px; top: 123px; right: 8px"></span>
    <!-- Direction Navigator Skin End -->
</div>

@section scripts
{
    <script src="~/Scripts/slideshow-common.js"></script>
}
