@{
    ViewBag.Title = "Nothing to See Here";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" role="main">
    <div class="page-header">
        <h1>Nothing to See Here</h1>
    </div>
    <div class="well">
        <p>
            This is a site especially designed for the amazing Ms. Kelly Webber! 
            It contains a number of pages, not includeing this one that will be used in conjunction with post cards being sent by her equally amazing father Mr. R. Scott Webber!
            There are no links to those pages and the page names are randomly generated so as to be hard to guess.
            Just in case you are interested about the exact number of pages, there are more than 10 but less than 20.
        </p>
        <p>
            --<br />
            Love,<br />
            Dad
        </p>
    </div>
</div>