@{
    ViewBag.Title = "s5pFl7sj1noB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="slider1_container" style="position: relative; width: 960px; height: 380px; overflow: hidden;">
    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; width: 960px; height: 380px; top: 0px; left: 0px; overflow: hidden;">
        <div><img u="image" src="~/img/can/can-001.png" /></div>
        <div><img u="image" src="~/img/can/can-002.png" /></div>
        <div><img u="image" src="~/img/can/can-003.jpg" /></div>
        <div><img u="image" src="~/img/can/can-004.jpg" /></div>
        <div><img u="image" src="~/img/can/can-005.jpg" /></div>
        <div><img u="image" src="~/img/can/can-006.jpg" /></div>
        <div><img u="image" src="~/img/can/can-007.jpg" /></div>
        <div><img u="image" src="~/img/can/can-008.jpg" /></div>
    </div>
    <!-- Direction Navigator Skin Begin -->
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssord20l" style="width: 55px; height: 55px; top: 123px; left: 8px;"></span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssord20r" style="width: 55px; height: 55px; top: 123px; right: 8px"></span>
    <!-- Direction Navigator Skin End -->
</div>

@section scripts
{
    <script src="~/Scripts/slideshow-common.js"></script>
}
