body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* jssor slider direction navigator skin 20 css */
/*
.jssord20l              (normal)
.jssord20r              (normal)
.jssord20l:hover        (normal mouseover)
.jssord20r:hover        (normal mouseover)
.jssord20ldn            (mousedown)
.jssord20rdn            (mousedown)
*/
.jssord20l, .jssord20r, .jssord20ldn, .jssord20rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(/Jssor/img/d02.png) no-repeat;
    overflow: hidden;
}

.jssord20l {
    background-position: -3px -33px;
}

.jssord20r {
    background-position: -63px -33px;
}

.jssord20l:hover {
    background-position: -123px -33px;
}

.jssord20r:hover {
    background-position: -183px -33px;
}

.jssord20ldn {
    background-position: -243px -33px;
}

.jssord20rdn {
    background-position: -303px -33px;
}
